<%= form_for(fee_structure) do |f| %>
  <% if fee_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee_structure.errors.count, "error") %> prohibited this fee_structure from being saved:</h2>

      <ul>
      <% fee_structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :student_class, class: 'mdl-textfield__input', id: 'student_class', required: true %>
    <%= f.label :student_class, class: 'mdl-textfield__label', for: 'student_class' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :section, class: 'mdl-textfield__input', id: 'section', required: true %>
    <%= f.label :section, class: 'mdl-textfield__label', for: 'section' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :allocated_fee, class: 'mdl-textfield__input', id: 'allocated_fee', required: true %>
    <%= f.label :allocated_fee, class: 'mdl-textfield__label', for: 'allocated_fee' %>
  </div>

  <div class="actions">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">update</button>
  </div>
<% end %>
