<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <h3>Welcome to</h3>
  <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">
    <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
      <%= image_tag 'logo-krisha.png', class: 'responsive', width: 239, height: 200 %>
    <div class="mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center">
    <h1>KRISHA FOUNDATION'S</h1>
    <h2><%= ClassInfo.first.class_name.upcase %></h2>
    <strong><em><%= ClassInfo.first.address %></em></strong><br/>
    <strong><em>Contact No: <%= ClassInfo.first.contact_no %></strong></em>
  </div>
  <div class="mdl-cell mdl-cell--3-col">
    <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
      <%= image_tag 'logo-dnyanjyoti.jpg', class: 'responsive', width: 239, height: 200 %>
    <div class="mdl-layout-spacer"></div>
    </div>
  </div>
</div>
<br/>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
    <%= link_to 'Students', student_dashboard_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
    <%= link_to 'Office Expenses', office_expenses_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
    <%= link_to 'Fee Collection', student_fees_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
    <%= link_to 'Fee Structures', fee_structures_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>
</div>