<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
     $('#page_name').replaceWith("<span id='page_name'> - Students</span>")
  });
</script>
<%= link_to "<i class='material-icons'>keyboard_arrow_left</i> Back".html_safe, student_dashboard_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="" style="overflow: auto">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="myTable_students">
      <thead>

      <tr>
        <form action="<%= students_path %>">
          <th colspan="4">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="filter_by_query" name="query" value="<%= params[:query] %>">
              <label class="mdl-textfield__label" for="filter_by_query">Search</label>
            </div>
            <input type="hidden" name="standard" value="<%= params[:standard] %>">
            <input type="hidden" name="section" value="<%= params[:section] %>">
          </th>
          <th>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Search</button>
          </th>
        </form>
        <th colspan="2">
          <%= link_to 'New Student', {controller: 'students', action: 'new',
                                      standard: params[:standard], section: params[:section] },
                      class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
        </th>
        <th colspan="2">
          <%= link_to "Export to Excel", students_path(format: "xls", standard: params[:standard], section: params[:section]), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
        </th>
      </tr>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Profile</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Standard</th>
        <th class="mdl-data-table__cell--non-numeric">Section</th>
        <th class="mdl-data-table__cell--non-numeric">College</th>
        <th class="mdl-data-table__cell--non-numeric">Mobile No.</th>
        <th class="mdl-data-table__cell--non-numeric">Balance Fee</th>
        <th class="mdl-data-table__cell--non-numeric">View</th>
        <th class="mdl-data-table__cell--non-numeric">Edit</th>
        <th class="mdl-data-table__cell--non-numeric">Delete</th>
        <th class="mdl-data-table__cell--non-numeric">Fee Collection</th>
      </tr>
      </thead>

      <tbody style=" height: 50rem;">
      <% @students.each do |student| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= image_tag student.profile_photo.blank? ? 'user.png' : student.profile_photo, :width => 50, :height => 50, class: 'img-circle' %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= student.first_name %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= student.student_class %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= student.division %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= student.college_name %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= student.mobile_no %></td>
            <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency((previous_balance(student) + student.allocated_fee.to_f - student.discount.to_f) - student.total_paid.to_f) %></td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to student, class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_show_<%= student.id %>'>pageview</i>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to "<i class='material-icons' id='tt_edit_#{student.id}' >mode_edit</i>".html_safe,
                           {controller: 'students', action: 'edit', standard: params[:standard],
                            section: params[:section], id: student},
                           {class: 'mdl-button mdl-js-button mdl-button--icon'} %>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to student, method: :delete, data: { confirm: 'Are you sure?' },
                          class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_delete_<%= student.id %>'>delete</i>
              <% end %>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
              <%= link_to 'Pay Fee',  {controller: 'student_fees', action: 'new', student_id: student.id}, class: 'mdl-button mdl-js-button mdl-button--accent' %>
            </td>
          </tr>

          <div class="mdl-tooltip" data-mdl-for="tt_show_<%= student.id %>">
            <strong>View Student</strong>
          </div>
          <div class="mdl-tooltip" data-mdl-for="tt_edit_<%= student.id %>">
            <strong>Edit Student</strong>
          </div>
          <div class="mdl-tooltip" data-mdl-for="tt_delete_<%= student.id %>">
            <strong>Delete Student</strong>
          </div>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>