<p id="notice"><%= notice %></p>

<p>
  <strong>Start month:</strong>
  <%= @academic_year.start_month %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @academic_year.start_year %>
</p>

<p>
  <strong>End month:</strong>
  <%= @academic_year.end_month %>
</p>

<p>
  <strong>End year:</strong>
  <%= @academic_year.end_year %>
</p>

<%= link_to 'Edit', edit_academic_year_path(@academic_year) %> |
<%= link_to 'Back', academic_years_path %>
