<%= form_for(student_fee) do |f| %>
  <% if student_fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_fee.errors.count, "error") %> prohibited this student_fee from being saved:</h2>

      <ul>
      <% student_fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded">
          <label class="mdl-textfield__label" for="studentName">Student Name</label>
          <input class="mdl-textfield__input" id="studentName" readonly="readonly" value="<%= "#{@student.first_name} #{@student.last_name}" %>" type="text">
        </div>

        <%= f.hidden_field :student_id, value: @student.id %>
        <%= f.hidden_field :academic_year_id, value: @student.academic_year_id %>
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="payment_date_div">
        <%= f.label :payment_date, class: 'mdl-textfield__label' %>
        <%= f.text_field :payment_date, class: 'mdl-textfield__input', id: 'payment_date' %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <% if !params[:student_id].nil? %>
          <%
            if @student.student_fees.blank?
              last_val = 1
            else
              last_val = @student.student_fees.last.installment_no.to_i + 1
            end

          %>
          <%= f.label :installment_no, class: 'mdl-textfield__label', for: 'installment_no' %>
          <%= f.text_field :installment_no, class: 'mdl-textfield__input', id: 'installment_no', readonly: true, value: last_val %>
        <% else %>
          <%= f.label :installment_no, class: 'mdl-textfield__label', for: 'installment_no' %>
          <%= f.text_field :installment_no, class: 'mdl-textfield__input', id: 'installment_no', readonly: true %>
        <% end %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :amount, class: 'mdl-textfield__label' %>
        <%= f.text_field :amount, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
        <%= f.select(:payment_method, options_for_select([['Payment Method'],['CASH','CASH'],['Cheque','Cheque'],['Bank Transfer','Bank Transfer'],['NEFT / IMPS / RTGS','NEFT / IMPS / RTGS']],
                                                         :disabled => 'Payment Method', :selected=> @student_fee.payment_method),
                     {}, class: 'mdl-textfield__input', id: 'payment_method') %>
        <%= f.label :payment_method, class: 'mdl-textfield__label', for: 'payment_method' %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :payment_desc, class: 'mdl-textfield__label' %>
        <%= f.text_field :payment_desc, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :paid_by, class: 'mdl-textfield__label' %>
        <%= f.text_field :paid_by, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.label :received_by, class: 'mdl-textfield__label' %>
        <%= f.text_field :received_by, class: 'mdl-textfield__input' %>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>

    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Submit"/>
      <div class="mdl-layout-spacer"></div>
    </div>
<% end %>
