<%
  total_expense = 0

  if !@office_expenses.blank?
    @office_expenses.each do |expense|
      total_expense += expense.amount.to_f.round(2)
    end
  end
%>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#page_name').replaceWith("<span id='page_name'> - Office Expenses</span>")
    });
</script>
<%= link_to "<i class='material-icons'>keyboard_arrow_left</i> Back".html_safe, :back, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent' %>
<div class="mdl-grid" >
  <div class="mdl-layout-spacer mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">
    <% if current_user.role == 'ADMIN' %>
        <table class="mdl-data-table mdl-js-data-table" style="background-color: #46B6AC">
          <thead>
          <tr>
            <td>Total Expense</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">&#8377; <%= number_to_indian_currency(total_expense) %></td>
          </tr>
          </thead>
        </table>
    <% end %>
  </div>
  <div class="mdl-layout-spacer mdl-cell mdl-cell--1-col"></div>
  <div class="table-container mdl-cell mdl-cell--11-col" style="overflow: auto">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="myTable">
      <thead>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">

          </td>
          <form action="<%= office_expenses_path %>" method="get">
            <td colspan="2">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="filter_by_query" name="query">
                <label class="mdl-textfield__label" for="filter_by_query">Search</label>
              </div>
            </td>
            <td colspan="1">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Search</button>
            </td>
          </form>
          <td colspan="2">
            <%= link_to 'New Office Expense', new_office_expense_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
          </td>
          <td colspan="2">
              <%= link_to "Export to Excel", office_expenses_path(format: "xls", query: params[:query]), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
          </td>
          <td colspan="1"></td>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Expense type</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Amount</th>
          <th class="mdl-data-table__cell--non-numeric">Payment method</th>
          <th class="mdl-data-table__cell--non-numeric">Payment description</th>
          <th class="mdl-data-table__cell--non-numeric">Paid by</th>
          <th class="mdl-data-table__cell--non-numeric">Received by</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @office_expenses.each do |office_expense| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.expense_type %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.description %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.amount %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.payment_method %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.payment_descrition %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.paid_by %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= office_expense.received_by %></td>
            <td>
              <%= link_to edit_office_expense_path(office_expense),
                          class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_edit_<%= office_expense.id %>' >mode_edit</i>
              <% end %>
            </td>
            <td>
              <%= link_to office_expense, method: :delete, data: { confirm: 'Are you sure?' },
                          class: 'mdl-button mdl-js-button mdl-button--icon' do %>
                  <i class="material-icons" id='tt_delete_<%= office_expense.id %>'>delete</i>
              <% end %>
            </td>
          </tr>
          <div class="mdl-tooltip" data-mdl-for="tt_edit_<%= office_expense.id %>">
            <strong>Edit</strong>
          </div>
          <div class="mdl-tooltip" data-mdl-for="tt_delete_<%= office_expense.id %>">
            <strong>Delete</strong>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
