<!DOCTYPE html>
<html>
  <head>
    <title><%= ClassInfo.first.class_name.upcase %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.9/dialog-polyfill.min.css" integrity="sha256-qVjBFbunjrWQ4IikV5dkK1ziW9XKskisX1rUbCIJEhk=" crossorigin="anonymous" />
    <!--<link href="http://ylc.sreyah.xyz/assets/material_3/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header avoid-in-print">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><%= link_to ClassInfo.first.class_name.upcase, root_path, style: 'color: white' %>  <span id="page_name"></span></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <form action="<%= search_student_by_name_path %>">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="filter_by_query" name="name" value="<%= params[:name] %>" autocomplete="off">
              <label class="mdl-textfield__label" for="filter_by_query" style="color: #F7F7F7">Search</label>
            </div>
          </form>

          <!-- Right aligned menu below button -->
          <button id="demo-menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <% if user_signed_in? %>
                <li class="mdl-menu__item data-mdl-disabled"><%= current_user.username %></li>
                <li class="mdl-menu__item--full-bleed-divider"></li>
                <%= link_to '<li class="mdl-menu__item">Edit profile</li>'.html_safe, edit_user_registration_path %>
                <%= link_to '<li class="mdl-menu__item">Log out</li>'.html_safe, destroy_user_session_path, method: :delete%>
            <% else %>
                <% link_to '<li class="mdl-menu__item">Sign out</li>'.html_safe, new_user_registration_path %>
                <%= link_to'<li class="mdl-menu__item">Log in</li>'.html_safe, new_user_session_path %>
            <% end %>
          </ul>
        </div>
      </header>
      <div class="mdl-layout__drawer avoid-in-print">
        <span class="mdl-layout-title" style="padding: 0 !important;"><%= image_tag 'sidebar.jpg', class: 'responsive', width: 239, height: 200 %></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="<%= student_dashboard_path %>">Students</a>
          <a class="mdl-navigation__link" href="<%= student_fees_path %>">Fee Collection</a>
          <a class="mdl-navigation__link" href="<%= academic_years_path %>">Academic Years</a>
          <a class="mdl-navigation__link" href="<%= fee_structures_path %>">Fee Structure</a>
          <a class="mdl-navigation__link" href="<%= office_expenses_path %>">Office Expense</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">

          <!-- Your content goes here -->
          <div class="mdl-grid avoid-in-print">
            <div class="mdl-layout-spacer"></div>
            <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <div class="mdl-layout-spacer"></div>
          </div>
            <%= yield %>
        </div>
      </main>
      <footer class="mdl-mini-footer avoid-in-print" style="padding-top: 5px !important; padding-bottom: 10px !important;">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">&copy; <%= ClassInfo.first.class_name.upcase %></div>
        </div>
        <div class="mdl-mini-footer__right-section">
          <div class="mdl-logo">POWERED BY LINKER IT SOLUTIONS </div>
        </div>
        <script type="text/javascript">
            $("#search_student_field").on('keyup change', function () {
                get_searched_student($("#search_student_field").val());
            });
            var get_searched_student = function (student_name) {

                $.ajax({
                    url: '<%= search_student_by_name_url %>',
                    data: 'name='+ student_name,
                    type: 'GET'
                });
            };
        </script>

      </footer>
    </div>
  </body>
</html>

